<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui-1.8.17.custom.min" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://use.typekit.com/ovv1chc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <title>Mebay</title>
</head>
<body>

<%= yield %>

</body>
</html>

